/chroma_db
/internal_data
/output
/whoosh_index
.DS_Store
company_index/_MAIN_1.toc
company_index/MAIN.tmp/50ipksr3hz7actgxinutv8g5e72m.ctmp
company_index/MAIN_7txccvq87428qqf6.pst
company_index/MAIN_7txccvq87428qqf6.trm
company_index/MAIN_b81gyqvzfzdgn41m.seg
company_index/MAIN_WRITELOCK
ingestion/.DS_Store
keyword_index/_MAIN_0.toc
ingestion/.DS_Store
ingestion/.DS_Store
.DS_Store
company_index/_MAIN_5.toc
company_index/MAIN_3p3iljp3j5pvmuz0.seg
company_index/MAIN_8qfoq7ysu5q9gczb.seg
company_index/MAIN_cholurnamm3t1gai.seg
company_index/MAIN_nap217gqxvzxuggg.seg
.DS_Store
company_index/MAIN_qo92yaaafgx229i6.seg
ingestion/.DS_Store
.DS_Store
ingestion/.DS_Store
internal_data.zip
output.zip
